[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "effectsizescr"]
	path = effectsizescr
	url = https://github.com/cran/effectsizescr
	shallow = true
	registered = true
